<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    description="Provides a means of storing previous address information"
    name="Previous Addresses Powerquery"
    version="3.0.0"
    xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">

  <publisher name="Chad Cole">
    <contact email="chadacole@gmail.com"/>
  </publisher>

  <access_request>
      <field table="students" field="dcid" access="ViewOnly" />
      <field table="u_previousaddresses" field="move_date" access="FullAccess" />
      <field table="u_previousaddresses" field="previous_address_type" access="FullAccess" />
      <field table="u_previousaddresses" field="previous_street" access="FullAccess" />
      <field table="u_previousaddresses" field="previous_city" access="FullAccess" />
      <field table="u_previousaddresses" field="previous_state" access="FullAccess" />
      <field table="u_previousaddresses" field="previous_zip" access="FullAccess" />
      <field table="u_previousaddresses" field="studentsdcid" access="FullAccess" />
      <field table="u_previousaddresses" field="id" access="FullAccess" />
  </access_request>
</plugin>
